* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagram-phone {
  display: flex;
  align-items: center; /* Alinhamento vertical para o centro eixo-Y */
  justify-content: center; /* Alinhamento horizontal para o centro eixo-X */
  width: 50%;
}

.instagram-phone img {
  height: 50rem;
}

.instagram-continue {
  /*  Invertemos o eixo com o flex direction */
  display: flex;
  align-items: center; /* Horizontal */
  justify-content: space-around; /* Vertical */
  flex-direction: column;
  width: 50%;
  height: 34rem;
}

.login-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid #d3d3d3;
}

.login-group:nth-child(1) {
  min-height: 19rem;
}

.logo {
  height: 3rem;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile img {
  height: 6rem;
}